{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h3 class="center-align blue-grey-text">Add Recipe</h3>
    
        <div class="row">
            <form class="col s12" method ="POST" action="">
                <!--recipe name-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">create</i>
                        <input id="recipe_name" type="text" class="validate" required>
                        <label for="recipe_name">Recipe Name</label>
                    </div>
                </div>
                <!--recipe category-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">folder_open</i>
                        <input id="category_name" name="category_name" class="validate" required>
                        <label for="category_name">Category</label>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}