{% extends "base.html" %}
{% block content %}

    <div class="container">
        <!-- recipe name -->
        <h3 class="center-align blue-grey-text">{{ recipe.recipe_name }}</h3>
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="col s12 m6">
                        <div class="row">
                            <!--recipe image -->
                            <div class="col s12">
                                <div class="card">
                                    <div class="card-image">
                                        {% if recipe.recipe_image %}
                                            <img src="{{ recipe.recipe_image }}"
                                                alt="Image for {{ recipe.name }}">
                                        {% else %} 
                                            <img id="carousel-img"
                                                src="{{ url_for('static', filename='images/no-image.jpg') }}"
                                                    alt="Spices on table with cutlery silhouette">
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <!-- recipe category -->
                        <div class="row">
                            <div class="col s12 m6 offset-m3">
                                <div class="row">
                                    <div class="col s3">
                                        <i class="material-icons prefix">folder_open</i>
                                    </div>
                                    <div class="col s9">
                                        <h6 class="teal-text"><strong>Category:</strong></h6>
                                        <p>{{ recipe.category_name }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- recipe difficulty level -->
                        <div class="row">
                            <div class="col s12 m6 offset-m3">
                                <div class="row">
                                    <div class="col s3">
                                        <i class="material-icons prefix">folder_open</i>
                                    </div>
                                    <div class="col s9">
                                        <h6 class="teal-text"><strong>Difficulty:</strong></h6>
                                        <p>{{ recipe.difficulty_level }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- recipe author -->
                        <div class="row">
                            <div class="col s12 m6 offset-m3">
                                <div class="row">
                                    <div class="col s3">
                                        <i class="material-icons prefix">person</i>
                                    </div>
                                    <div class="col s9">
                                        <h6 class="teal-text"><strong>Added by: </strong></h6>
                                        <p>{{ recipe.added_by }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- recipe ingredients -->
                    <div class="col s12 m6">
                        <div class="row">
                            <div class="col s1">
                                <i class="material-icons prefix">shopping_cart</i>
                            </div>
                            <div class="col s11">
                                <h6 class="teal-text"><strong>Ingredients:</strong></h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {% for ingredient in recipe.ingredients %}
                                    <ul class="browser-default">
                                        <li>{{ ingredient }}</li>
                                    </ul>
                                {% endfor %}
                            </div>
                        </div>
                    </div>                       
                    <!-- recipe cooking method -->
                    <div class="col s12 m6">
                        <div class="row">
                            <div class="col s1">
                                <i class="material-icons prefix">restaurant</i>
                            </div>
                            <div class="col s11">
                                <h6 class="teal-text"><strong>Cooking method:</strong></h6>
                            </div>
                        </div>    
                        <div class="row">
                            <div class="div s12">
                                {% for method in recipe.method %}
                                    <ol>
                                        <li>{{ method }}</li>
                                    </ol>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class ="row">
                    <!-- delete button -->
                    <div class="col s6 right-align">
                        {% if session.user|lower == recipe.added_by|lower %}
                            <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
                                class="btn-large red">Delete Recipe</a>
                        {% endif %}
                    </div>
                    <!-- edit button -->
                    <div class="col s6">
                        {% if session.user|lower == recipe.added_by|lower %}
                            <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
                                class="btn-large teal">Edit Recipe</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}